################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Animalia
/.vs/CopilotSnapshots/3794647695E5224DA35FC431DC3E1B36
