USE [master]
GO
/****** Object:  Database [AnimaliaDb]    Script Date: 09/10/2025 10:26:41 ******/
CREATE DATABASE [AnimaliaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnimaliaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AnimaliaDb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AnimaliaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AnimaliaDb_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnimaliaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnimaliaDb]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[Notes] [nvarchar](max) NULL,
	[MaxParticipants] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProgramModels]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Summary] [nvarchar](max) NULL,
	[Difficulty] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProgramTrainings]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramTrainings](
	[ProgramModelId] [int] NOT NULL,
	[TrainingId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramModelId] ASC,
	[TrainingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Testimonials]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](150) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trainings]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DurationMinutes] [int] NULL,
	[Equipment] [nvarchar](100) NULL,
	[Level] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/10/2025 10:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Prenom] [nvarchar](100) NULL,
	[Nom] [nvarchar](100) NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [UserId], [Title], [DateTime], [Location], [Notes], [MaxParticipants]) VALUES (1, 1, N'test event', CAST(N'2025-10-08T00:44:02.3150000' AS DateTime2), N'st naz', N'note', 10)
INSERT [dbo].[Events] ([Id], [UserId], [Title], [DateTime], [Location], [Notes], [MaxParticipants]) VALUES (2, 1, N'event a venir', CAST(N'2025-10-10T09:57:34.7510000' AS DateTime2), N'st malo', N'lalallallalallal', 10)
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[ProgramModels] ON 

INSERT [dbo].[ProgramModels] ([Id], [Title], [Summary], [Difficulty], [Price], [ImageUrl]) VALUES (1, N'test programme', N'lalalla', N'Débutant', CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[ProgramModels] ([Id], [Title], [Summary], [Difficulty], [Price], [ImageUrl]) VALUES (2, N'Programme 1', N'description Programme 1', N'Moyen', CAST(12.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[ProgramModels] ([Id], [Title], [Summary], [Difficulty], [Price], [ImageUrl]) VALUES (3, N'Sport Canin WTF - Programme Extrême 7 Jours', N'Programme révolutionnaire d''entrainement avec votre chien. Du cimetière à l''étang, en passant par la forêt. Attention : âmes sensibles s''abstenir. Chien motivé requis.', N'Extrême', CAST(99.99 AS Decimal(10, 2)), N'https://example.com/sport-canin-wtf.jpg')
SET IDENTITY_INSERT [dbo].[ProgramModels] OFF
INSERT [dbo].[ProgramTrainings] ([ProgramModelId], [TrainingId]) VALUES (1, 1)
INSERT [dbo].[ProgramTrainings] ([ProgramModelId], [TrainingId]) VALUES (2, 1)
INSERT [dbo].[ProgramTrainings] ([ProgramModelId], [TrainingId]) VALUES (4, 2)
SET IDENTITY_INSERT [dbo].[Trainings] ON 

INSERT [dbo].[Trainings] ([Id], [Title], [DurationMinutes], [Equipment], [Level], [Description]) VALUES (1, N'entrainement 1', 120, N'haies basses', N'Moyen', NULL)
INSERT [dbo].[Trainings] ([Id], [Title], [DurationMinutes], [Equipment], [Level], [Description]) VALUES (2, N'Commando du Cimetière', 45, N'Laisse résistante, croix imaginaire, motivation mentale', N'Extrême', NULL)
INSERT [dbo].[Trainings] ([Id], [Title], [DurationMinutes], [Equipment], [Level], [Description]) VALUES (3, N'Étang Gladiator', 60, N'Accès à un étang, balle flottante, arbre pour tractions', N'Hardcore', NULL)
SET IDENTITY_INSERT [dbo].[Trainings] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [Prenom], [Nom], [IsAdmin]) VALUES (1, N'admin@animalia.com', N'admin123', N'Administrateur', N'Animalia', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D10534F2CAC1E5]    Script Date: 09/10/2025 10:26:42 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgramModels] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Testimonials] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[Testimonials] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_User]
GO
ALTER TABLE [dbo].[ProgramTrainings]  WITH CHECK ADD  CONSTRAINT [FK_PT_Program] FOREIGN KEY([ProgramModelId])
REFERENCES [dbo].[ProgramModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramTrainings] CHECK CONSTRAINT [FK_PT_Program]
GO
ALTER TABLE [dbo].[ProgramTrainings]  WITH CHECK ADD  CONSTRAINT [FK_PT_Training] FOREIGN KEY([TrainingId])
REFERENCES [dbo].[Trainings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramTrainings] CHECK CONSTRAINT [FK_PT_Training]
GO
USE [master]
GO
