
<!-- Hero Carousel -->
<section class="hero-section">
  <app-carousel 
    [items]="heroCarousel"
    carouselId="heroCarousel"
    [isImageCarousel]="true"
    [autoSlide]="true"
    [interval]="5000">
  </app-carousel>
</section>

<!-- Section titre principal -->
<div class="container text-center my-4">
  <h1 class="fw-bold">
    <i class="fa-solid fa-paw text-primary"></i> 
    Vivez des moments uniques avec votre compagnon à quatre pattes 
    <i class="fa-solid fa-paw text-primary"></i>
  </h1>
  <p class="lead text-muted">
    Sport, détente et complicité : découvrez nos programmes pensés pour vous et votre animal.
  </p>
</div>

<!-- Programmes principaux -->
<div class="container my-5">
  <h2 class="text-center fw-bold mb-4">
    Exemples de programmes 
    <i class="fa-solid fa-person-running text-primary"></i>
  </h2>
  <div class="row g-4">
    @for (program of ListProgramCard; track program.id) {
      <div class="col-md-4">
        <app-program-card 
          [program]="program"
          (cardClick)="onProgramClick($event)">
        </app-program-card>
      </div>
    }
  </div>
  
  <div class="text-center my-5">
    <a href="#" class="text-decoration-none text-dark fw-bold">
      <i class="fa-solid fa-spa text-info"></i>
      Découvrez d'autres programmes qui pourraient vous plaire
      <i class="fa-solid fa-paw text-primary"></i>
    </a>
  </div>
</div>

<!-- Section Avis -->
<div class="container my-5">
  <h3 class="text-center fw-bold mb-4">
    <i class="fa-solid fa-comments text-warning"></i> Avis de nos participants
  </h3>
  
  <app-carousel 
    [items]="testimonials"
    carouselId="avisCarousel"
    [isImageCarousel]="false"
    [autoSlide]="true"
    [interval]="5000">
    
  </app-carousel>
</div>